<div class="row">
  <div class="col-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <button [disabled]="!recipeForm.valid" type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control" formControlName="name" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input type="text" id="imagePath" name="imagePath" class="form-control" formControlName="imagePath" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <img [src]="recipeForm.get('imagePath').value" alt="Recipe image"
            style="max-height: 320px; width: 100%; object-fit: cover;">
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" class="form-control" rows="6"
              formControlName="description"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12" formArrayName="ingredients">
          <b>Ingredients</b>

          <div class="row mt-3" [formGroupName]="i" *ngFor="let ingredientControl of ingredientControls; let i = index">
            <div class="col-8">
              <input type="text" id="name" name="name" class="form-control" formControlName="name" />
            </div>
            <div class="col-2">
              <input type="text" id="amount" name="amount" class="form-control" formControlName="amount" />
            </div>
            <div class="col-2 mt-auto">
              <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>

          <div class="row my-3">
            <div class="col-12">
              <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
