<div class="row">
  <div class="col-12">
    <img [src]="recipe.imagePath" alt="" class="img-responsive" style="max-width: 300px;" />
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="dropdown" appDropdown>
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Manage Recipe <span class="caret"></span></button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" style="cursor: pointer;" (click)="onAddToShoppingListClick()">To Shopping List</a>
        <a class="dropdown-item" style="cursor: pointer;" (click)="onEditRecipeClick()">Edit Recipe</a>
        <a class="dropdown-item" style="cursor: pointer;" (click)="onDeleteRecipeClick()">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    {{recipe.description}}
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li *ngFor="let ingredient of recipe.ingredients" class="list-group-item">
        {{ingredient.name}} x {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
